@rendermode InteractiveServer

<div class="grid-10 side-navbar @(isSidebarCollapsed == true ? " closed" : " open")" >

    <div class="section-10 top-row navbar-dark ">
        <span class="section-menu-icon" @onclick=@(toggleSideBar) >
           <img class="icon menu-icon-container" src="images/menu_icon.svg" alt="menu icon" />
        </span>
        
        <span class="logo-container">
            <img src="/images/logo.png" class="logo"/>
        </span>

    </div>

    <div class="nav-scrollable section-10 @(isSidebarCollapsed == true ? "" : "mobile-viewable")" >

        <nav class="grid-10" >

            <div class="section-10 nav-item">
                <div class="@(isSidebarCollapsed == true ? "nav-link" : "")" @onclick="() => { if(isSidebarCollapsed == true) {toggleSideBar();} }">          
                    <div class="search-bar">
                        <input type="text" placeholder="Search" class="@(isSidebarCollapsed == true ? "hidden" : "")"/>
                        <img src="images/search_icon.svg" class="search-icon icon"/>
                    </div>
                </div>
            </div>

            <div class="section-10 nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> 
                    <span class="bi home-icon icon icon-size" aria-hidden="true"></span>
                    <span class="nav-font">Home</span>
                </NavLink>
            </div>

            <div class="section-10 nav-item">
                <NavLink class="nav-link" href="modular-calendar">
                    <span class="bi event-icon icon icon-size" aria-hidden="true"></span>
                    <span class="nav-font">Calendar Component</span>
                </NavLink>
            </div>

            <div class="section-10 nav-item">
                <NavLink class="nav-link" href="counter">
                    <span class="bi dugout-icon icon icon-size" aria-hidden="true"></span>
                    <span class="nav-font">The Dugout</span>
                </NavLink>
            </div>

            <div class="section-10 nav-item">
                <NavLink class="nav-link" href="weather">
                    <span class="bi tasks-icon icon icon-size" aria-hidden="true"></span>
                    <span class="nav-font">Tasks</span>
                </NavLink>
            </div>

            <div class="section-10 nav-item">
                <NavLink class="nav-link" href="weather">
                    <span class="bi deliverables-icon icon icon-size" aria-hidden="true"></span>
                    <span class="nav-font">SFC Way Deliverables</span>
                </NavLink>
            </div>

            <div class="section-10 nav-item">
                <NavLink class="nav-link" href="weather">
                    <span class="bi event-icon icon icon-size" aria-hidden="true"></span> 
                    <span class="nav-font">Event Tracker</span>
                </NavLink>
            </div>

            <div class="section-10 nav-item" @onclick='@(() => toggleSubMenu(0))'>
                <NavLink class="nav-link" >
                    <span class="bi venue-icon icon icon-size" aria-hidden="true"></span> 
                    <span class="nav-font">Venue Management</span>
                    <span class="arrow-icon icon @(IsSubMenuOpen(0) ? " arrow-up" : " arrow-down")" aria-hidden="true"></span>
                </NavLink>               

                <div class="sub-menu @(IsSubMenuOpen(0) ? "open" : "closed")">
                    <NavLink class="nav-link mb-2" href="/">
                        <span class="nav-font">Item 1</span>
                    </NavLink>
                    <NavLink class="nav-link mb-2" href="counter">
                        <span class="nav-font">Item 2</span>
                    </NavLink>
                    <NavLink class="nav-link mb-2" href="counter">
                        <span class="nav-font">Item 3</span>
                    </NavLink>
                    <NavLink class="nav-link mb-2" href="counter">
                        <span class="nav-font">Item 4</span>
                    </NavLink>
                    <NavLink class="nav-link mb-2" href="/">
                        <span class="nav-font">Item 5</span>
                    </NavLink>
                    <NavLink class="nav-link" href="/">
                        <span class="nav-font">Item 6</span>
                    </NavLink>
                    
                </div>
            </div>

            <div class="section-10 nav-item" @onclick='@(() => toggleSubMenu(1))'>
                <NavLink class="nav-link" >
                    <span class="bi reports-icon icon icon-size" aria-hidden="true"></span> 
                    <span class="nav-font">Reports</span>
                    <span class="arrow-icon icon @(IsSubMenuOpen(1) ? " arrow-up" : " arrow-down") " aria-hidden="true"></span>
                </NavLink>

                <div class="sub-menu @(IsSubMenuOpen(1) ? "open" : "closed")">
                    <NavLink class="nav-link mb-2" href="/">
                        <span class="nav-font">Sponsorships Report</span>
                    </NavLink>
                    <NavLink class="nav-link" href="/">
                        <span class="nav-font">Deliverables Scoreboard</span>
                    </NavLink>
                </div>
            </div>

            <div class="section-10 nav-item" @onclick='@(() => toggleSubMenu(2))'>
                <NavLink class="nav-link" >
                    <span class="bi admin-icon icon icon-size" aria-hidden="true"></span> 
                    <span class="nav-font">Admin</span>
                    <span class="arrow-icon icon @(IsSubMenuOpen(2) ? " arrow-up" : " arrow-down")" aria-hidden="true"></span>
                </NavLink>

                <div class="sub-menu @(IsSubMenuOpen(2) ? "open" : "closed")">
                    <NavLink class="nav-link mb-2" href="counter">
                        <span class="nav-font">User Event Types</span>
                    </NavLink>
                    <NavLink class="nav-link mb-2" href="counter">
                        <span class="nav-font">Event Types</span>
                    </NavLink>
                    <NavLink class="nav-link mb-2" href="counter">
                        <span class="nav-font">Categories</span>
                    </NavLink>
                    <NavLink class="nav-link mb-2" href="counter">
                        <span class="nav-font">Departments</span>
                    </NavLink>
                    <NavLink class="nav-link" href="counter">
                        <span class="nav-font">New Venue</span>
                    </NavLink>
                </div>
            </div>

        </nav>

        <div class="account-section grid-10">
            <div class="@(isSidebarCollapsed == true ? "hidden" : "section-7 nav-font text-overflow ps-4")"> Matthew Alexanderson </div>

            <div class="@(isSidebarCollapsed == true ? "hidden" : "section-3 nav-font d-flex justify-content-end")"> 
                <a class="nav-link pe-3"> Signout </a> 
            </div>
            
            <span class="@(isSidebarCollapsed == true ? "section-10 nav-item" : "hidden")" @onclick=@(toggleSideBar)>
                <div class="nav-link">
                    <span class="bi sign-out-icon icon icon-size"></span>
                </div>
            </span>
        </div>

    </div>
</div>

@* onclick="document.querySelector('.navbar-menu-toggle').click()" *@

@code {

    @*  -------------------- START TESTING AREA --------------------  *@
    

    @*  -------------------- END TESTING AREA --------------------  *@



    private bool isSidebarCollapsed = true;
    private bool[] isIconMenuSubOpen = [false, false, false, false]; // Made for each sub menu section

    // This function will toggle is the Sidebar to be closed or open
    protected void toggleSideBar() {
        isSidebarCollapsed = !isSidebarCollapsed;
        @* Console.WriteLine("is Navbar Collapsed: " + isSidebarCollapsed); *@
        
    }

    // This function will toggle the specific submenu the user is trying to open
    protected void toggleSubMenu(int subMenuNumber) {
        if(isSidebarCollapsed == true) {
            isSidebarCollapsed = false;
        }
        isIconMenuSubOpen[subMenuNumber] = !isIconMenuSubOpen[subMenuNumber];        
    }

    // This function is check to see if the aa subMenu is open, and close it if the Sidebar is Collapsed to remove unneeded html appearances
    protected bool IsSubMenuOpen(int subMenuNumber) {
        if(isSidebarCollapsed == true) {
            isIconMenuSubOpen[subMenuNumber] = false;
            return false;
        }
        return isIconMenuSubOpen[subMenuNumber];
    }

}