@rendermode InteractiveServer


<div class="grid-10 @(isSidebarCollapsed == true ? "side-navbar-collapsed" : "side-navbar")">

    <div class="section-10 top-row navbar-dark grid-10">
        <span class="@(isSidebarCollapsed == true ? "hidden" : "section-8 image-container")">
            <div class="logo-container">
                <a class="ps-2" href="/">
                    <img src="/images/logo.png" class="logo"/>
                </a>
            </div>
            
        </span>

        <span class="image-container @(isSidebarCollapsed == true ? "section-10" : "section-2")" @onclick=@(toggleSideBar) >
            <img class="icon navbar-menu-toggle menu-icon-container" src="images/menu_icon.svg" alt="menu icon" />
        </span>
    </div>

    @* <input title="Navigation menu" class="navbar-toggler" /> *@

    <div class="nav-scrollable section-10" >

        <nav class="@(isSidebarCollapsed == true ? "text-center" : "grid-10")" >

            <div class="section-10 nav-item">
                <div class="@(isSidebarCollapsed == true ? "nav-link" : "search-container")" @onclick="() => { if(isSidebarCollapsed == true) {toggleSideBar();} }">          
                    <div class="search-bar ">
                        <input type="text" placeholder="Search" class="@(isSidebarCollapsed == true ? "hidden" : "")"/>
                        <img src="images/search_icon.svg" class="@(isSidebarCollapsed == true ? "centered icon scale-1" : "search-icon icon")"/>
                    </div>
                </div>
            </div>

            <div class="section-10 nav-item">
                <NavLink class="nav-link ps-2" href="" Match="NavLinkMatch.All"> 
                    <span class="bi home-icon icon" aria-hidden="true"></span>
                    <span class="@(isSidebarCollapsed == true ? "hidden" : "nav-font")">Home</span>
                </NavLink>
            </div>

            <div class="section-10 nav-item">
                <NavLink class="nav-link ps-2" href="counter">
                    <span class="bi dugout-icon icon" aria-hidden="true"></span>
                    <span class="@(isSidebarCollapsed == true ? "hidden" : "nav-font")">The Dugout</span>
                </NavLink>
            </div>

            <div class="section-10 nav-item">
                <NavLink class="nav-link ps-2" href="weather">
                    <span class="bi tasks-icon icon" aria-hidden="true"></span>
                    <span class="@(isSidebarCollapsed == true ? "hidden" : "nav-font")">Tasks</span>
                </NavLink>
            </div>

            <div class="section-10 nav-item">
                <NavLink class="nav-link ps-2" href="weather">
                    <span class="bi deliverables-icon icon" aria-hidden="true"></span>
                    <span class="@(isSidebarCollapsed == true ? "hidden" : "nav-font")">SFC Way Deliverables</span>
                </NavLink>
            </div>

            <div class="section-10 nav-item">
                <NavLink class="nav-link ps-2" href="weather">
                    <span class="bi event-icon icon" aria-hidden="true"></span> 
                    <span class="@(isSidebarCollapsed == true ? "hidden" : "nav-font")">Event Tracker</span>
                </NavLink>
            </div>

            @* Need to add Venue Management, Reports, and Admin *@

            <div class="section-10 nav-item" @onclick='@(() => toggleSubMenu(0))'>
                <NavLink class="nav-link ps-2" >
                    <span class="bi venue-icon icon" aria-hidden="true"></span> 
                    <span class="@(isSidebarCollapsed == true ? "hidden" : "nav-font")">Venue Management</span>
                    <span class="arrow-icon @(IsSubMenuOpen(0) ? " arrow-up icon" : " arrow-down icon") @(isSidebarCollapsed == true ? " hidden" : "")" aria-hidden="true"></span>
                </NavLink>

                <div class="sub-menu" style="display: @(IsSubMenuOpen(0) ? "block" : "none")">
                    <NavLink class="nav-link" href="/">
                        <span class="bi bi-arrow-right-circle" aria-hidden="true" title="Sub Item 1"></span>
                        <span class="@(isSidebarCollapsed == true ? "hidden" : "nav-font")">Item 1</span>
                    </NavLink>
                    <NavLink class="nav-link" href="/">
                        <span class="bi bi-arrow-right-circle" aria-hidden="true" title="Sub Item 2"></span>
                        <span class="@(isSidebarCollapsed == true ? "hidden" : "nav-font")">Item 2</span>
                    </NavLink>
                </div>
            </div>

            <div class="section-10 nav-item" @onclick='@(() => toggleSubMenu(1))'>
                <NavLink class="nav-link ps-2" >
                    <span class="bi reports-icon icon" aria-hidden="true"></span> 
                    <span class="@(isSidebarCollapsed == true ? "hidden" : "nav-font")">Reports</span>
                    <span class="arrow-icon icon @(IsSubMenuOpen(1) ? " arrow-up" : " arrow-down") @(isSidebarCollapsed == true ? " hidden" : "")" aria-hidden="true"></span>
                </NavLink>

                <div class="sub-menu" style="display: @(IsSubMenuOpen(1) ? "block" : "none")">
                    <NavLink class="nav-link" href="/">
                        <span class="bi bi-arrow-right-circle" aria-hidden="true" title="Sub Item 1"></span>
                        <span class="@(isSidebarCollapsed == true ? "hidden" : "nav-font") ">Sponsorships Report</span>
                    </NavLink>
                    <NavLink class="nav-link" href="/">
                        <span class="bi bi-arrow-right-circle" aria-hidden="true" title="Sub Item 2"></span>
                        <span class="@(isSidebarCollapsed == true ? "hidden" : "nav-font")">Deliverables Scoreboard</span>
                    </NavLink>
                </div>
            </div>

            <div class="section-10 nav-item" @onclick='@(() => toggleSubMenu(2))'>
                <NavLink class="nav-link ps-2" >
                    <span class="bi admin-icon icon" aria-hidden="true"></span> 
                    <span class="@(isSidebarCollapsed == true ? "hidden" : "nav-font")">Admin</span>
                    <span class="arrow-icon @(IsSubMenuOpen(2) ? " arrow-up icon" : " arrow-down icon") @(isSidebarCollapsed == true ? " hidden" : "")" aria-hidden="true"></span>
                </NavLink>

                <div class="sub-menu" style="display: @(IsSubMenuOpen(2) ? "block" : "none") ">
                    <NavLink class="nav-link" href="/">
                        <span class="bi bi-arrow-right-circle" aria-hidden="true" title="Sub Item 1"></span>
                        <span class="@(isSidebarCollapsed == true ? "hidden" : "nav-font")">Item 1</span>
                    </NavLink>
                    <NavLink class="nav-link" href="/">
                        <span class="bi bi-arrow-right-circle" aria-hidden="true" title="Sub Item 2"></span>
                        <span class="@(isSidebarCollapsed == true ? "hidden" : "nav-font")">Item 2</span>
                    </NavLink>
                </div>
            </div>



        </nav>

        <div class="@(isSidebarCollapsed == true ? "hidden" : "account-section grid-10")">
            <div class="section-7 nav-font text-overflow"> Matthew Alexanderson </div>

            <div class="section-3 nav-font d-flex justify-content-end"> 
                <a class=""> Signout </a>  
            </div>
        </div>


    </div>
</div>

@* onclick="document.querySelector('.navbar-menu-toggle').click()" *@

@code {
    private bool isSidebarCollapsed = true;
    private bool[] isIconMenuSubOpen = [false, false, false, false]; // Made for each sub menu section

    // This function will toggle is the Sidebar to be closed or open
    protected void toggleSideBar() {
        isSidebarCollapsed = !isSidebarCollapsed;
        @* Console.WriteLine("is Navbar Collapsed: " + isSidebarCollapsed); *@
    }

    // This function will toggle the specific submenu the user is trying to open
    protected void toggleSubMenu(int subMenuNumber) {
        if(isSidebarCollapsed == true) {
            isSidebarCollapsed = false;
        }
        isIconMenuSubOpen[subMenuNumber] = !isIconMenuSubOpen[subMenuNumber];
        @* Console.WriteLine("Sub Menu: " + subMenuNumber + " is " + isIconMenuSubOpen[subMenuNumber]); *@

        
    }

    // This function is check to see if the aa subMenu is open, and close it if the Sidebar is Collapsed to remove an
    // unneeded html appearances
    protected bool IsSubMenuOpen(int subMenuNumber) {
        if(isSidebarCollapsed == true) {
            isIconMenuSubOpen[subMenuNumber] = false;
            return false;
        }
        return isIconMenuSubOpen[subMenuNumber];
    }

}